@import url('https://fonts.googleapis.com/css2?family=Lato');

* {
    font-family: 'Lato';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
}

:root {
    --white: #fff;
    --blue: #1B4576;
    --bluedark: #3f648c;
    --grey: #9cacc4;
    --green: #9CDF42;

}

html {
    font-family: 'Lato';
    overflow-x: hidden;
}

body {
    height: 100vh;
    font-family: 'Lato';
}

/* HEADER */
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--blue);
    padding: 20px 20px 20px 15px;
}
.logo img {width: 80px;}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    font-family: 'Lato';
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a:hover {
    color: var(--green);
    transition: .4s;
    text-decoration: underline;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: white;
}
.close-menu {
    top: 20px;
    right: 20px;
    color: white;
}
#check {display: none;}
@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--blue);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}

/* Botão verde */
.link-action {
    padding: .6rem;
    font-size: .9rem;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s;
}

.btn-action {
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

.btn-action:hover {
    background-color: var(--green);
    border: 1px soid var(--bluedark);
}

.link-action {
    text-decoration: none;
    width: 200px;
    text-align: center;
}

/* Main Página sobre nós */
.first-section-sobre-nós{
    height: 100vh;
    background-image: linear-gradient(rgba(29,29,29,0.8),rgba(36, 36, 36, 0.075) ), url('foto-principal.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-section-sobre-nós .conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-section-sobre-nós h1 {
    color: var(--white);
    font-size: 7vw;
    font-weight: lighter;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    line-height: 130%;
    font-family: 'Popins', sans-serif;
}

.conteudo-pagina{
    align-items: center;
    padding: 5% 10%;
}

.conteudo-pagina h1{
    color: rgb(122, 122, 221);
    font-size: 2.5vw;
    font-family: 'Popins', sans-serif;
}

.conteudo-pagina p{
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Popins', sans-serif;

}


.container-segundo-texto{
    margin-top: 5%;
}

.primeira-parte, .segunda-parte{
    display: flex;
}

.segunda-parte{
    padding-top: 5%;
}

.primeiro-texto{
    display: flex;
    flex-direction: column;
    padding: 0px 10%;
}

.segundo-texto{
    display: flex;
    flex-direction: column;
    padding: 0px 10%;
}

.puma{
    width: 300px;
    height: 350px;
}
.mustang{
    width: 500px;
    height: 350px;
}

.texto{
    padding-top: 5%;
    align-items: center;
}

.texto p{
    text-align: center;
    color: rgb(69, 69, 151);
    font-size: 3.5vw;
}

@media (max-width: 1400px) {
    .puma{
        width: 200px;
    }
    .mustang{
        width: 200px;
    }
    .conteudo-pagina h1{
        font-size: 2.5vw;
    }
    
    .conteudo-pagina p{
        font-size: 20px;
    }
    .texto p{
        font-size: 3.5vw;
    }
}

@media (max-width: 768px) {
    .puma{
        width: 200px;
    }
    .mustang{
        width: 200px;
    }
    .conteudo-pagina h1{
        font-size: 2.5vw;
    }
    
    .conteudo-pagina p{
        font-size: 15px;
    }
    .texto p{
        font-size: 3.5vw;
    }
}

@media (max-width: 480px) {
    .puma{
        width: 100px;
        height: 200px;
    }
    .mustang{
        width: 100px;
        height: 300px;
    }
    .conteudo-pagina h1{
        font-size: 3.5vw;
    }
    
    .conteudo-pagina p{
        font-size: 12px;
    }
    .texto p{
        font-size: 3.5vw;
    }
}


/* Main - Sections */
.first-section {
    height: 100vh;
    background-image: linear-gradient(rgba(29,29,29,0.8),rgba(36, 36, 36, 0.075) ), url('foto-principal.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.first-section .conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 10%;
}

.first-section h1 {
    color: var(--white);
    font-size: 7vw;
    font-weight: lighter;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    line-height: 130%;
    font-family: 'Popins', sans-serif;
}

.first-section h2 {
    color: var(--white);
    font-size: 2vw;
    font-weight: 100;
    margin-bottom: 3rem;
    letter-spacing: 2px;
    font-family: 'Popins', sans-serif;
}

.btn {
    display: flex;
    justify-content: start;
    gap: 1rem;
    width: 100%;
}

.btn a {
    width: 15vw;
    height: 260px;
    height: auto;
    padding: 1vw 1vw;
    font-size: 1vw;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(26, 59, 93);
    border-radius: 10px;
    color: white;
    font-weight: 700;
    margin-top: 5rem;
    transition: all 400ms ease-in;
    text-decoration: none;
    text-align: center;
}


.btn a:hover {
    /* border: 1px solid var(--green); */
    background-color: transparent;
}

@media (max-width: 768px) {
    .first-section h1 {
        font-size: 8vw;
    }

    .first-section-sobre-nós h1 {
        font-size: 8vw;
    }

    .first-section h2 {
        font-size: 3vw;
    }

    .btn a {
        font-size: 3vw;
        width: 40vw;
    }
}

@media (max-width: 480px) {
    .first-section h1 {
        font-size: 6vw;
    }
    
    .first-section-sobre-nós h1{
        font-size: 6vw;
    }

    .first-section h2 {
        font-size: 4vw;
    }

    .btn a {
        font-size: 3vw;
        width: 30vw;
    }
}

strong {
    color: var(--green);
}

/* second section */
.secont-section {
    padding: 20px;
    margin: 20px;
}

.secont-section .titulo{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(122, 122, 221);
    font-size: 70px;
    font-weight: 100;
}

.barra{
    width: 5%;
    height: 3px;
    background-color: rgb(21, 21, 43);
    border-radius: 8px;
    margin: auto;
    margin-bottom: 50px;
}

.container-m {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    max-width: 1500px;
    margin: 0 auto;
    flex-wrap: wrap; 
}

.box-container {
    padding: 20px;
    text-align: center;
    width: 30%; 
    transition: transform 0.3s;
}

.box-container:hover {
    transform: scale(1.05); 
    /* efeito de zoom  */
}

.box-container img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;
}


h2 {
    margin: 10px 0;
    font-size: 22px;
    color: rgb(122, 122, 221);
}


@media (max-width: 999px) {
    .container-m {
        flex-direction: column;
        gap: 10px;
    }

    .box-container {
        width: 100%;
    }
}

/* third section */

.third-section {
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}


.third-section ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.third-section ul li {
    color: var(--white);
    padding: 2rem;
    font-size: 20px;
    letter-spacing: 1px;
}

.third-section ul li:hover {
    color: var(--bluedark);
    transition: .4s;
    cursor: default;
}

/* Boxes */
.container {
    padding: 15px 9%;
    padding-bottom: 100px;  
}

.container .heading {
    text-align: center;
    padding-bottom: 35px;
    color: white;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
    letter-spacing: 5px;
}

.container .box-container {
    display: flex;
    flex-direction: row; 
    gap: 15px;
    flex-wrap: wrap; 
    justify-content: center;

    
}

@media (max-width: 768px) {
    .container .box-container {
        flex-direction: column;
        align-items: center;
    }
}
    


/* Sobre nós */

.sobre-nos {
    align-items: center;
    padding: 7vw 3vw;
    height: max-content;
    background-image: url('fusca.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white);
}

.sobre-nos .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.contentsobre {
    flex: 1;
    padding-right: 20px;
}

/* .contentsobre h2 {
    font-size: 3vw;
    margin-bottom: 30px;
} */

.contentsobre p {
    font-size: 5vw;
    line-height: 1.5;
    font-weight: lighter;
    text-align: center;
}

/* .img-moto {
    flex: 1;
    text-align: center;
}

.img-moto img {
    max-width: 60%;
    height: auto;
    border-radius: 15px;
} */

@media (max-width: 1280px) {
    .contentsobre h2 {
        font-size: 4vw;
    }

    .contentsobre p {
        font-size: 7vw;
    }
}

@media (max-width: 1024px) {
    .contentsobre h2 {
        font-size: 4vw;
    }

    .contentsobre p {
        font-size: 8vw;
    }
}

@media (max-width: 768px) {
    .sobre-nos .main {
        flex-direction: column;
        text-align: center;
    }

    .contentsobre {
        padding: 0;
    }

    .contentsobre h2 {
        font-size: 5vw;
    }

    .contentsobre p {
        font-size: 7vw;
    }

    .img-moto img {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .contentsobre h2 {
        font-size: 6vw;
    }

    .contentsobre p {
        font-size: 7vw;
    }
}


/* Footer */

/* .footer .container{
	max-width: 1170px;
	margin:auto;
    border-top: 1px solid black;
} */

.footer .container .row{
	display: flex;
	flex-wrap: wrap;
}
.footer .container .row ul{
	list-style: none;
}
.footer{
	background-color: var(--white);
    padding-top: 60px;
    padding-bottom: 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer .logo-footer{
    align-items: center;   
}
.footer-col h4{
	font-size: 30px;
	color: black;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: var(--bluedark);
	height: 5px;
    border-radius: 10px;
	box-sizing: border-box;
	width: 70px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 20px;
	text-transform: capitalize;
	color: black;
	text-decoration: none;
	font-weight: 300;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: var(--bluedark);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/* Produtos */

#produto-detalhes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
    flex-wrap: wrap; /* Permite o layout se adaptar em telas menores */
}

.produto-imagem-container {
    flex: 1;
    max-width: 50%;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.produto-imagem-container img {
    width: 100%;
    height: auto;
    border: 4px solid #ddd;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.produto-imagem-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.produto-info-container {
    flex: 1;
    max-width: 45%;
    padding: 20px;
}

#produto-nome {
    font-size: 24px;
    margin-bottom: 10px;
}

#produto-descricao {
    font-size: 16px;
    margin-bottom: 20px;
}

#produto-preco {
    font-size: 20px;
    margin-bottom: 20px;
}

.botao-comprar {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--blue);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.botao-comprar:hover {
    background-color: var(--dark-blue);
    color: black;
    border: 1px solid black;
}

#produtos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.calculo-frete {
    margin-top: 30px;
    background-color: #f1faff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 255, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: 20px auto;
    box-sizing: border-box;
}

.calculo-frete label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.calculo-frete input[type="text"] {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid var(--blue);
    border-radius: 8px;
    font-size: 16px;
    background-color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.calculo-frete input[type="text"]:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 91, 179, 0.5);
    outline: none;
}

.calculo-frete button {
    padding: 12px 20px;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.calculo-frete button:hover {
    background-color: var(--bluedark);
    transform: translateY(-2px);
}

.calculo-frete p {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.calculo-frete input[type="text"]::placeholder {
    color: #aaa;
}

#produtos-relacionados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

#escrita {
    padding: 10px;
}

#escrita h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}



.produto-relacionado {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 22%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.produto-relacionado:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.produto-relacionado img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.produto-relacionado h4 {
    font-size: 18px;
    color: #333;
    padding: 15px;
    margin: 0;
}

.produto-relacionado p {
    font-size: 16px;
    color: black;
    padding: 0 15px;
    margin: 5px 0;
}

.produto-relacionado .botao {
    display: block;
    padding: 10px;
    margin: 15px 15px 15px 15px;
    text-align: center;
    background-color: var(--blue);
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.produto-relacionado .botao:hover {
    background-color: var(--bluedark);
}

/* Responsividade */

@media (max-width: 1024px) {
    #produto-detalhes {
        flex-direction: column;
        align-items: center;
    }

    .produto-imagem-container, .produto-info-container {
        max-width: 100%;
        flex: none;
    }

    .produto-info-container {
        padding: 10px;
    }

    .produto-imagem-container {
        margin-bottom: 20px;
    }

    .produto-relacionado {
        width: 45%; /* Aumenta o tamanho dos produtos em telas menores */
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    #produto-detalhes {
        flex-direction: column;
        align-items: center;
    }

    .produto-info-container {
        padding: 10px;
    }

    .produto-imagem-container {
        margin-bottom: 20px;
    }

    .produto-relacionado {
        width: 100%; /* Exibe um produto por linha em telas menores */
        margin-bottom: 20px;
    }

    #produtos-relacionados {
        flex-direction: column;
        align-items: center;
    }

    .calculo-frete {
        max-width: 100%;
        margin: 20px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    #produto-nome {
        font-size: 20px;
    }

    #produto-descricao {
        font-size: 14px;
    }

    #produto-preco {
        font-size: 18px;
    }

    .botao-comprar {
        padding: 8px 16px;
        font-size: 14px;
    }

    .produto-relacionado h4 {
        font-size: 16px;
    }

    .produto-relacionado p {
        font-size: 14px;
    }

    .produto-relacionado .botao {
        font-size: 14px;
        padding: 8px;
    }
}


/* Filtros */
.search-container {
    text-align: center;
    margin: 20px 0;
}

#search-input {
    width: 50%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
}




.box {
    width: 80%; 
    max-width: 400px; 
    margin: 20px auto; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
    align-items: center;
    justify-content: center;
    text-align: center;
}


.box:hover {
    transform: scale(1.05); 
}

.box img {
    width: 200px; 
    height: 200px; 
    object-fit: cover;
    border-radius: 4px; 
}

.box h3 {
    font-size: 1.2em; 
    margin: 12px 0; 
    padding: 5px;
}

.box p {
    font-size: 1em; 
    color: var(--cor-texto-descricao); 
    margin-bottom: var(--margin); 
    padding: 5px;
}

#produtos-container .botao{
    display: inline-block; 
    padding: 10px 16px; 
    background-color: var(--blue); 
    color: white;
    text-decoration: none; 
    border-radius: 4px; 
    transition: background-color var(--transition); 
    border: 1px solid black;
}

#produtos-container .botao:hover {
    background-color: var(--cor-fundo-botao-hover);
    color: black;
}


#check {
    display: none;
}

.search-container {
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 500px;
    margin: 20px auto;
}
#search-input {
    width: 100%;
    max-width: 500px;
    padding: 10px 40px 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-icon {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    color: #888; 
    font-size: 18px;
    pointer-events: none; 
}

/* Estilos para a seção de filtros */

/* Layout para contêiner principal */
.main-container {
    display: flex;
    justify-content: space-between; /* Alinha os itens com espaço entre eles */
    align-items: flex-start;
}

/* Estilos para a seção de filtros */
#filtros {
    width: 250px; /* Define uma largura fixa para os filtros */
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para a seção de produtos */
#produtos-container {
    flex: 1; /* Ocupa o restante do espaço disponível */
    margin-left: auto; /* Empurra o contêiner de produtos para a direita */
    padding: 20px;
}


#filtros h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

#filtros h4 {
    font-size: 18px;
    margin-top: 15px;
    color: #555;
}

#filtros label {
    font-size: 16px;
    color: #555;
}

#filtros input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
    cursor: pointer;
}

.payment-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.payment-container h2 {
    margin-top: 20px;
}

.payment-container label {
    display: block;
    margin-top: 10px;
}

.payment-container input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.payment-container button {
    margin-top: 20px;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container-login {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

#loginForm #btn {
    background-color: var(--blue);

}

.container-login p a {
    color: var(--blue);
}

/* Estilo do título */
.container-login h1 {
    text-align: center;
    color: #333; 
}


#cadastroForm #btn{
    background-color: var(--blue);
}

/* Estilo dos inputs */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    transition: border-color 0.3s; 
}

/* Estilo dos inputs ao focar */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
    border-color: #007BFF; 
    outline: none; 
}

/* Estilo do botão */
.container-login button {
    width: 100%; 
    padding: 10px; 
    background-color: #007BFF; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s; 
}

.container-login button:hover {
    background-color: #0056b3; 
}

/* Estilo do link */
.container-login a {
    color: #007BFF; 
    text-decoration: none; 
}

.container-login a:hover {
    text-decoration: underline; 
}

.container-termos {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px; 
    width: 90%; 
    margin: 0 auto;
}

/* Títulos */
.container-termos h1 {
    color: #333;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center; 
}

.container-termos h2 {
    color: #555;
    font-size: 1.5em;
    margin: 20px 0 10px;
}

/* Parágrafos */
.container-termos p {
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}

/* Link dos Termos */
.container-termos a {
    color: #007bff;
    text-decoration: none;
}

.container-termos a:hover {
    text-decoration: underline;
}

/* Botão Fechar */
.container-termos button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    display: block;
    margin: 20px auto; 
    transition: background-color 0.3s;
}

.container-termos button:hover {
    background-color: #0056b3;
}

.ver-mais-container {
    text-align: center; 
    margin-top: 20px;
}

.botao-ver-mais {
    background-color: var(--green); 
    color: white; 
    padding: 5px 10px; 
    text-decoration: none; 
    border-radius: 3px; 
    transition: background-color 0.3s; 
    font-size: 0.9em;
}

.botao-ver-mais:hover {
    background-color: transparent; 
}

/* Estilos do Dropdown do Carrinho */
.dropdown-carrinho {
    display: none;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
    border-radius: 8px;
    z-index: 1000;
    width: 280px;
    top: 60px;
    right: 20px;
    padding: 10px;
}

.dropdown-carrinho.show,
.dropdown-carrinho.active {
    display: block;
}

.dropdown-carrinho h4 {
    margin: 0 0 10px;
    font-size: 1.2em;
    color: #333;
    font-weight: 600;
}

/* Itens do carrinho */
#itens-carrinho {
    max-height: 250px;
    overflow-y: auto;
    padding: 5px 0;
}

/* Quantidade do Carrinho */
#carrinho-quantidade {
    background-color: #e53935;
    color: white;
    padding: 3px 7px;
    border-radius: 50%;
    font-size: 0.85em;
    font-weight: bold;
    position: absolute;
    top: 0;  /* Altere o valor para ajustar verticalmente */
    right: -5px; /* Altere o valor para ajustar horizontalmente */
    transform: translate(50%, -50%); /* Ajuste para centralizar melhor em relação ao canto superior direito */
}


/* Estilos para os produtos no carrinho */
.produto-carrinho {
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    background-color: #fafafa;
    transition: background-color 0.3s ease;
}

.produto-carrinho:hover {
    background-color: #f1f1f1;
}

.produto-carrinho img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 15px;
}

.produto-carrinho h3 {
    flex-grow: 1;
    font-size: 1em;
    color: #333;
    margin: 0;
}

/* Container de Quantidade */
.quantidade-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.quantidade-container button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quantidade-container button:hover {
    background-color: #0056b3;
}

/* Botão de Ação no Carrinho */
.dropdown-carrinho .botao {
    display: block;
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.dropdown-carrinho .botao:hover {
    background-color: #0056b3;
}


#ver-carrinho {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin-top: 10px;
    background-color: var(--blue); /* Cor de fundo do botão */
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#ver-carrinho:hover {
    background-color: var(--blue); /* Cor do botão ao passar o mouse */
    color: #fff;
}

#ver-carrinho:active {
    background-color: var(--blue); /* Cor ao clicar no botão */
}

#carrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#carrinho h1 {
    padding: 10px;
    text-align: center;
}

#carrinho button {
    display: block;
    width: 50%;
    padding: 10px 0;
    margin-top: 10px;
    background-color: var(--blue); /* Cor de fundo do botão */
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#carrinho button:hover {
    background-color: darkblue; /* Cor do botão ao passar o mouse */
    color: #fff;
}